* {
    box-sizing: border-box;
  }

  
.explore-image-gallery
{
    display: block;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    background-color: rgb(242, 242, 237);
    margin-top: 80px;
}

.image-gallery
{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
    text-align: left;
    padding-left: 10%;
}

.explore-work h2{
    display: flex;
    color: rgb(22,23,20);    
    font-size: 45px;
    font-family: "Gilda Display", serif;
    font-weight: 400;
    line-height: 54px;
    overflow-wrap: break-word;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    padding-left: 10%;
    margin-top: 40px; 
    padding-top: 80px;
    width: 100%;
}

  .row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    width: 100%;
    padding: 0 4px;
    padding-left: 60px;
    padding-right: 60px;
  }
  
  /* Create four equal columns that sits next to each other */
.column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  