   a{
    text-decoration: none;
    color: white;
    cursor: pointer;
   }
  .header-container-nav
  {
    position: fixed;
    align-items: center;
    top: 0px;
    display: flex;
    box-sizing:content-box;
    height: 100px;
    width: 100%;
    z-index: 1;
    justify-content: space-between;
    font-family: "Gilda Display", serif;
    font-size: 22px;
    font-weight: 800;
    letter-spacing: normal;
    text-align: center;
    text-decoration-line: none;
    background-color: #000000; /* Optional: Adds a background color */
    color: white;
    fill: rgb(125, 127, 106);
    text-decoration-style: solid;
  }

  .header-title-text a
  {
    display: inline-flex;
    align-items: center;
    text-align: center;
    margin-top: 0px;
    margin-left: 40px;
    order: 1;
    text-decoration: none;
    fill: rgb(125, 127, 106);
    cursor: pointer;
    text-decoration-line: none;
    color: white;
    fill: rgb(125, 127, 106);
  }

  .header-nav-bar{
    display: block;
    text-align: right;
    text-size-adjust: 100%;
    justify-content: right;
    align-items: center;
    order: 2;
    font-size: 16px;
    font-family: Montserrat, sans-serif;
    flex-wrap: wrap;
    font-weight: 400;
  }

  .header-nav-list
  {
    margin-top: 10px;
    order: 2;
    display: inline-flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 400;
    justify-content: flex-end;
    text-align: right;
    text-size-adjust: 100%;
    color: white;
  }

  .header-nav-item
  {
    position: fixed;
    display: block;
    align-items: center;
    text-align: right;
    font-family: Montserrat, sans-serif;
    line-height: 28px;
    font-size: 12px;
    font-weight: 400;
    margin-left: 30px ;
    position: relative;
    color: white;
  }

  .header-nav-social-buttons{
    text-decoration: none;
    color: rgb(22,23,20);
    font-size: 16px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: left;
    order: 3;
    margin-left: 30px;
    margin-right: 40px;
    color: white;
  }

  .header-nav-social-button
  {
    margin-right: 30px;
    color: white;
  }