/* styles.css */

body {
    
    font-family: "Gilda Display", serif, Arial, sans-serif;
  }
  
  .social-media-icons {
    display: flex;
    align-items: center;
    margin-left: 20px; /* Adjust spacing between nav items and social icons */
  }
  
  .social-media-icons a {
    margin-left: 10px; /* Adjust spacing between social media icons */
  }

  .footer-section h2 p
  {
    display: inline-block;
    margin: 0px;
    padding-bottom : 20px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20px
  }

  .social-media-icons
  {
    position: absolute;
  right: 0px;
  padding: 10px;
  width: auto;
  }  
 
  
  