/* styles.css */

body, html {
  
    margin: 0;
    padding: 0;
    font-family: "Gilda Display", serif, Arial, sans-serif;
    /* background-image: url(images/Evening-Safari-Kabini.png);
    background-size:cover;
    background-position: center; */
  }
  
  .social-media-icons {
    display: flex;
    align-items: center;
    margin-left: 20px; /* Adjust spacing between nav items and social icons */
  }
  
  .social-media-icons a {
    margin-left: 10px; /* Adjust spacing between social media icons */
  }

  /* .footer-section h2 p
  {
    display: inline-block;
    margin: 0px;
    padding-bottom : 20px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20px
  } */

  .social-media-icons
  {
    position: absolute;
    right: 0px;
    padding: 10px;
    width: auto;
  }

  .fa:hover {
    opacity: 0.8;
    transition: 0.75sec;
  }
  
  .fa-instagram:hover
  {
    color: #833AB4;
  }
  
  .fa-instagram {
    background: transparent;    
    color: #bb5914;
    font-size: 24px;
  }

  .fa-youtube {
    background: transparent;
    color: #bb5914;    
    font-size: 24px;
  } 

  .fa-youtube:hover
  {
    color: #c71818ee;
  }

  
   .footer-social-media
  {
    align-items: center; /* Aligns items vertically in the center */
    text-align: center; 
    bottom: 0;
    display: flex;
    justify-content: left;
    align-content: center;
    padding-left: 40px;
    gap: 20px;
    color: black;
  }

  .footer-social-media p{
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    letter-spacing: normal;
    color: rgb(76, 76, 68);
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 600px) {
    .header-nav-list
    {
      display: none;
    }

    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
    .footer-section
    {
      display:  flex;
      align-items: center;
      justify-content: center;
      align-content: center;
      padding: 10%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }
  